<p id="notice"><%= notice %></p>

<h1>Listing Beer Clubs</h1>

<ul>
  <% @beer_clubs.each do |bc| %>
      <li><%= link_to bc.name, bc %></li>
  <% end %>
</ul>

<%= link_to('New Beer club', new_beer_club_path) if current_user %>
